apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deploy
spec:
  terminationGracePeriod: 1
  selector:
    matchLabels:
      app: my-app
    replicas:: 3
    template:
      metadata:
        labels: 
          app: my-app
      spec:
        containers:
          - name: nginx
            image: nginx_modyfied_image
            ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: my-app  #nazwa serwisu której będzie używał klient
spec:
  selector:
    app: my-app
  ports:
  - port: 80
  targetPort: 80
---
#Do tego poda się połączysz w celach testoowych
apiVersion: v1
kind: Pod
metadata:
  name: demo-pod
spec:
  terminationGracePeriod: 1
  containers:
  - name: demo
    image: nginx_modyfied_image
    args:
    - "sleep"
    - "3600"
