apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deploy
  namespace: dev  #instead of typing everytime a namespace in the command
spec:
  selector:
    matchLabels:
      app: my-app
    replicas:: 3
    template:
      metadata:
        labels: 
          app: my-app
      spec:
        containers:
          - name: nginx
            image: nginx